/* Body styling to sticky footer to bottom of page */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
    
#wrapper {
    flex: 1;
    margin-bottom: 48px;
}

/* Header-specfic styling */

header {
    margin: auto;
    max-width: 1368px;
    padding: 1em;
    width: 100%;
}

/* Recent Seismic Section */
#seismic-activity {
    background-color: #FFF6EF;
    border: 1px solid #2d4059;
}

#near p {
    text-transform: capitalize;
}

.seismic-info {
    width: 70%;
}

.magnitude {
    align-self: center;
    text-align: right;
    width: 30%;
}

.activity-high {
    background-color: #ea5455;
}

.activity-med {
    background-color: #F07b3f;
}

.activity-low {
    background-color: #ffd460;
}

/* Recent News Section */
section#related-news {
    background-color: #2D4059;
}

.news-box {
    background-color: #FFF6EF;
}

.date {
    margin-bottom: 10px;
}

.navbar {
    background: #2D4059;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Search Input Styling */
#search-button, #state-selector {
    margin-left: 10px;
}

.city-input {
    background-color: #ebebeb;
}

.search-helper {
    margin-left: 5px;
    font-size: 12px;
    color: grey;
}

/* Footer-specific styling */
.footer {
    background-color: #ebebeb;
    margin: auto;
    max-width: 1368px;
    padding: 3rem 1.5rem 3rem;
    width: 100%;
}