/* Recent Seismic Section */
#seismic-activity {
    background-color: #FFF6EF;
    border: 1px solid #2d4059;
}

.seismic-info {
    width: 50%;
}

.magnitude {
    align-self: center;
    text-align: right;
    width: 50%;
}

.activity-high {
    background-color: #ea5455;
}

.activity-med {
    background-color: #F07b3f;
}

.activity-low {
    background-color: #ffd460;
}


